In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("MEP2_STROKES2.csv")

In [3]:
df.tail()

,Machine,Order Number,Product Decription,LW Size,CW Size,No. of CW,LW Length,CW Length,Sheets per hour For A1 Report,Squeeze,UP Slope,Weld,Down Slope,Hold,Heat,Strokes/min,Unnamed: 16
21,MEP2,S-6322(A),"VXV D20.0XD14.0 40""(+12"",+12"") X 29'6""(1"",1"")",0.0,0.0,0,0,0.0,40,20,6,15,2,1,64,32,-1.64606
22,MEP2,R-0079,"VX12 D20.0XD14.0 73-1/4""(+1-3/8"",+1-3/8"") X 21...",0.0,0.0,0,0,0.0,58,20,6,14,2,1,64,32,-3.81428
23,MEP2,S-6131 (J),"VXV D31.0XD20.0 75 3/4""(+2 7/8"",+2 7/8"")X 29'8...",0.0,0.0,0,0,0.0,33,20,8,18,2,1,75,25,-2.20716
24,MEP2,S-6346,"12X6 D11.0XD18.0 228""(+3/4"",+3/4"") X 1'8""(1"",1"")",0.0,0.0,0,0,0.0,60,20,6,15,2,1,61,31,-2.64606
25,MEP2,S-6346,"12X6 D11.0XD18.0 228""(+3/4"",+3/4"") X 3'8""(1"",1"")",0.0,0.0,0,0,0.0,53,20,6,15,2,1,61,31,-2.64606

In [4]:
squeeze = df["Squeeze"]
up = df["UP Slope"]
weld = df["Weld"]
strokes = df["Strokes/min"]

In [5]:
results = []
def strokes_mep2(squeeze,up,weld):
    eq =  60.7911 -0.1166*squeeze + 0.2335 *up -1.8555*weld      
    results.append(eq)
    
    print("______________________")
    print(eq)

In [15]:
strokes_mep2(20,8,18)

______________________
26.834000000000003

In [23]:
for x in range(0,len(strokes)):
    strokes_mep2(squeeze[x],up[x],weld[x])

______________________
25.3061
______________________
26.9281
______________________
27.3951
______________________
25.0726
______________________
25.0726
______________________
26.9281
______________________
26.9281
______________________
28.550100000000004
______________________
30.405600000000003
______________________
30.639100000000003
______________________
30.405600000000003
______________________
28.783600000000003
______________________
28.316600000000005
______________________
32.02760000000001
______________________
33.9991
______________________
33.9991
______________________
21.361600000000003
______________________
26.9281
______________________
28.550100000000004
______________________
28.550100000000004
______________________
26.9281
______________________
32.02760000000001
______________________
33.8831
______________________
26.9281
______________________
32.02760000000001
______________________
32.02760000000001

In [24]:
std=[]
for i in range(0,len(results)):
    diff = strokes[i] - results[i]
    std.append(diff)
    print (diff)

-3.3061000000000007
-0.9281000000000006
-0.39509999999999934
2.9273999999999987
-3.0726000000000013
-0.9281000000000006
0.07189999999999941
-0.550100000000004
4.594399999999997
1.3608999999999973
3.5943999999999967
3.2163999999999966
1.6833999999999953
-1.0276000000000067
0.0009000000000014552
0.0009000000000014552
1.6383999999999972
3.0718999999999994
-1.550100000000004
-3.550100000000004
-0.9281000000000006
-0.02760000000000673
-1.8830999999999989
-1.9281000000000006
-1.0276000000000067
-1.0276000000000067

In [25]:
import statistics

In [26]:
statistics.stdev(std)

2.178140111072182

In [15]:
#strokes std. 3.4

[20.476214999999996,
 27.923765999999993,
 27.923765999999993,
 16.893547999999996,
 25.991324,
 25.991324,
 29.856207999999995,
 35.371317,
 27.923765999999993,
 27.923765999999993,
 35.371317,
 29.856207999999995,
 37.303759,
 31.788649999999997,
 37.303759,
 42.818867999999995,
 29.856207999999995,
 40.88642599999999,
 44.75131,
 34.000005,
 34.000005,
 31.788649999999997]

In [15]:
strokes_mep2(20,7,17)

______________________
29.34250000000001